
.btn1{
    box-shadow: 5px 5px 10px black;
    transition: all .3s;

}
p{
    position: absolute;
    font-size: 3rem;
    color: red;
    font-weight: bolder;


}


.btn{
    font-size: 1.4rem;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: greenyellow;
    &:hover{
        background-color: green;
        opacity: .8;
    }
}