/** @format */

body {
	background-color: black;
	.container {
		height: fit-content;
		width: 300px;
		background-color: pink;
		margin: auto;
		padding: 20px;
		border: 2px solid black;
		border-radius: 5px;
		box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.504);
		& form {
			& h2 {
				text-align: center;
			}
			.inp-section {
				display: flex;
				flex-direction: column;
				margin: 10px 0;
				padding: 5px 0;
                & small{
                    color: red;
                    padding: 3px;
                }
				& label {
					padding-bottom: 5px;
				}
				& input {
					padding: 3px 7px;
				}
				& input[type='submit'] {
					margin-top: 20px;
                    padding: 7px;
                    font-size: 16px;
				}
			}
		}
	}
}
